body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* footer */
.footer {
    background-color:#E3DFC5;
    text-align: center;
    width: 100%;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer h2 {
    color: #5c3b1c;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    color: #7f6b5f;
    font-size: 18px;
    line-height: 1.5;
    margin: 0.5rem 0;
}

/* adaptive screen */
@media screen and (max-width: 550px){
    /* footer */
    .footer h2 {
        color: #5c3b1c;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .footer p {
        color: #7f6b5f;
        font-size: 14px;
        line-height: 1.5;
        margin: 0.5rem 0;
    }  
}