body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
}

/* navigation */
/* 7e4d9e */
.nav {
    background-color: #E3DFC5;
    height: 10rem;
    display: flex;
    justify-content: space-between;
  
    box-shadow: 0 4px 8px rgba(95, 43, 13, 0.123);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon-container {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    margin-left: 10%;
}
.footer {
    background-color:#E3DFC5;
    text-align: center;
    width:100%;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer h2 {
    color: #5c3b1c;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    color: #7f6b5f;
    font-size: 18px;
    line-height: 1.5;
    margin: 0.5rem 0;
}

.logo{
    height: 10rem;
    margin-left: 10%;
    display: flex;
    
}
.icon:hover {
    color: #622f69; 
}
/* page body */
form {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(95, 43, 13, 0.253);
    border-radius: 8px;
    width: 75%;
}

/* form */
/* form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} */
h2 {
    color: #5c3b1c; /* Darker Tan */
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    color: #7f6b5f; /* Lighter Tan */
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #34495e;
    font-size: 16px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.difficulty {
    margin-bottom: 20px;
}

span {
    margin: 0 10px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}


/* for small screens */
@media screen and (max-width: 400px) {
    .nav {
        flex-direction: row;
        padding: 0.2rem;
        /* margin: 0.5rem auto; */
        height: 4rem;
        position: static;
     }
 
     .logo {
         font-size: 0.7rem;
         margin-left: 10rem;
     
         
     }
}