body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
}


.nav {
    background-color: #E3DFC5;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(77, 57, 45, 0.123);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon-container {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    margin-left: 3%;
}

.logo{
    height: 10rem; 
}
.icon:hover {
    color: #622f69; 
}


form {
    width:75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(95, 43, 13, 0.253);
    border-radius: 8px;
}


h2 {
    color: #5c3b1c; /* Darker Tan */
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    color: #7f6b5f; /* Lighter Tan */
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #34495e;
    font-size: 16px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.difficulty {
    margin-bottom: 20px;
}

span {
    margin: 0 10px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #7f6b5f;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 40%;
   
}

button:hover {
    background-color:#E3DFC5;
}



.footer {
    background-color:#E3DFC5;
    text-align: center;
    width:100%;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer h2 {
    color: #5c3b1c;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    color: #7f6b5f;
    font-size: 18px;
    line-height: 1.5;
    margin: 0.5rem 0;
}