body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar - home and form */
.nav {
    background-color: #f5f2dc;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon {
    color:  #5c3b1c; 
    font-size: 1rem;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    margin: 50% auto;
}

.icon:hover {
    color: #622f69; 
}

/* table */
table {
    border-collapse: collapse; /* Merge table borders */
    width: 100%; /* Set table width */
    max-width: 500px;
    border-color: #523b2d;
}

th, td {
    padding: 10px; /* Add padding to cells */
    text-align: left; /* Align text to the left */
    border: 1px solid #ddd; /* Add cell borders */
    flex-wrap: wrap;
}

th {
    background-color: #f2f2f2; /* Set header background color */
    color: #523b2d;
}

/* page styling */
.container {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 75%;
}

.recipe-pic {
    max-width: 75%;
    margin: 5% 12%;
    box-shadow: 0 4px 8px rgba(104, 20, 20, 0.342);
}

/* typogrophy */
h1, h2 {
    color: #304853; 
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
}
.recipe {
    font-size: 100%;
    font-family: cursive;
}

.chef {
    font-family: cursive;
}

h3 {
    color: #5c3b1c; /* Darker Tan */
    margin-bottom: 0.2rem;
    padding-top: 1rem;
}

p, a {
    color: #7f6b5f; 
    font-size: 1rem;
    line-height: 1.5;
}

ol {
    list-style: decimal;
    color: #7f6baf;
}

/* for small screens */
@media (max-width: 400px) {
    .nav {
       flex-direction: row;
       padding: 0.2rem;
       margin: 0.5rem auto;
       height: 5rem;
       position: static;
    }
}