
@media screen and (max-width: 400px) {
    .nav {
        flex-direction: row;
        padding: 0.2rem;
        /* margin: 0.5rem auto; */
        height: 4rem;
        position: static;
     }
 
     .logo {
         font-size: 0.7rem;
         margin-left: 10rem;
     
         
     }
}
.map{
    width: 75%;
    margin: auto 12%;
    box-shadow: 0 4px 8px rgba(109, 17, 17, 0.637);
}
